
// ------------------------------------------------------------------------ Panel
$panel_margin_right : 0px;
$panel_margin_left : 0px;
$panel_padding_bottom: 0px;
$panel_box_shadow:  #00000040 0px 10px 10px 0px;
