// ------------------------------------------------------------------------ Def

// =============================== Media querys
$breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px
);

/* from… */
@mixin media-min($_key) {
	@media screen and (min-width: map-get($breakpoints, $_key)) {
		& {
			@content;
		}
	}
}

/* to… */
@mixin media-max($_key) {
	@media screen and (max-width: map-get($breakpoints, $_key) - 1) {
		& {
			@content;
		}
	}
}

/* from… to… */
@mixin media-between($_keymin, $_keymax) {
	@media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax) - 1) {
		& {
			@content;
		}
	}
}

/* at… */
@mixin media($_key) {

	@media screen and (min-width: map-get($breakpoints, $_key)) and (max-width: map-get($breakpoints,
			nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1)) - 1) {
		& {
			@content;
		}
	}
}

// =============================== Largeur

%§_w {
	@include media-max("md") {
		width: 100%;
	}
}

.§_w_100 {
	width: 100px;
	@extend %§_w;
}

.§_w_200 {
	width: 200px;
	@extend %§_w;
}

.§_w_300 {
	width: 300px;
	@extend %§_w;
}

.§_w_400 {
	width: 400px;
	@extend %§_w;
}

.§_w_500 {
	width: 500px;
	@extend %§_w;
}

.§_w_600 {
	width: 600px;
    // max-width: 100%;
	@extend %§_w;
}

.§_w_700 {
	width: 700px;
	@extend %§_w;
}

.§_w_800 {
	width: 800px;
	@extend %§_w;
}

.§_w_900 {
	width: 900px;
	@extend %§_w;
}

.§_w_100pourcent {
	width: 100%;
}
