
.§_header {
    display: flex;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: $border-color;
    border-bottom-style: solid;
    padding-top: 7px;
    background: $zmheader-backgroundcolor;
    flex-direction: column;

}

.header-div {
    line-height: $header-height;
    margin-right: 20px;
    display: none;

    @include media-breakpoint-up(md) {
        display: block !important;

    }
}

$header_burger_height : 40px;
$header_burger_top: calc(($header-height - $header_burger_height)/2);

.header_burger {
    height: $header_burger_height;
    margin-top: $header_burger_top;
    margin-right: 10px;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;

    & img {
        height: calc($header-height - 5px);
    }
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}
