// ------------------------------------------------------------------------ Navbar

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;

    & img {
        height: calc($header-height - 5px);
    }
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}
