
// ------------------------------------------------------------------------ Page header
// .ยง_page_header {
//     display: flex;
//     text-align: center;
//     border-bottom-width: 1px;
//     border-bottom-color: $border-color;
//     border-bottom-style: solid;
//     padding-top: 7px;
//     background: $_header_backgroundcolor;
//     flex-direction: column;
//     margin-left: $-header_titre_margin_left;
//     margin-right: $-header_titre_margin_right;
//     & .ยง_titre{
//         color:black;
//         font-size: 1.5rem;
//     }

// }

.header-div {
    line-height: $header-height;
    margin-right: 20px;
    display: none;

    @include media-breakpoint-up(md) {
        display: block !important;

    }
}

$header_burger_height : 40px;
$header_burger_top: calc(($header-height - $header_burger_height)/2);

.header_burger {
    height: $header_burger_height;
    margin-top: $header_burger_top;
    margin-right: 10px;
}




// .navbar-brand {
//     padding-top: .75rem;
//     padding-bottom: .75rem;

//     & img {
//         height: calc($header-height - 5px);
//     }
// }

// .navbar .navbar-toggler {
//     top: .25rem;
//     right: 1rem;
// }

// .navbar .form-control {
//     padding: .75rem 1rem;
// }
