// ------ Couleur par défaut
// $panel-header-backgroundcolor: green !default;


@import 'def';
@import 'panel';
@import 'sidebar';

$_color_fond_1: #f5f6fa;
$_body_color: black;

$panel-background: red;
// -------------------- modifiable dans _varisables.scss

// Variables par défaut
$color1: if(variable-exists(color1), $color1, #6c757d);
$color2: if(variable-exists(color2), $color2, #f8f9fa);
$color3: if(variable-exists(color3), $color3, white);
$color4: if(variable-exists(color4), $color4, whitesmoke);
$color5: if(variable-exists(color5), $color5, #f5f6fa);
$color6: if(variable-exists(color6), $color6, #f5f6fa);
$color7: if(variable-exists(color7), $color7, white);
$color8: if(variable-exists(color8), $color8, whitesmoke);
// $color9: if(variable-exists(color9), $color9, whitesmoke);

$body_color: $_body_color !default;
$sideBar-color : if(variable-exists(sideBar-color), $sideBar-color, $color1);
$sideBar-backgroundcolor: if(variable-exists(sideBar-backgroundcolor), $sideBar-backgroundcolor, $color8);

$header-backgroundcolor : if(variable-exists(header-backgroundcolor), $header-backgroundcolor, $color3);
$header-height: 50px !default;

$zmheader-backgroundcolor: $_color_fond_1 !default;

$footer-height : 100px !default;
// -------------------- Fin modifiable


// @debug "header-height" $header-height;



$border-color: #acaeaf;

// $container-bg-SB: $color2;

@debug $body_color;


html {
    font-size: 100%;
}

body {
    font-size: .875rem;
    color: $body_color;
    background: $body-bg;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: $header-backgroundcolor;
    height: $header-height;
}

.header-div {
    line-height: $header-height;
    margin-right: 20px;
    display: none;

    @include media-breakpoint-up(md) {
        display: block !important;

    }
}
#rras3k-alerte {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding-right: 20px;
    padding-left: 20px;
}
footer {
    height: $footer-height;
    z-index: 200;
    background: white;
}

@media (max-width: 768px) {
    .sidebar {
        top: $header-height;
    }
}

// .feather {
//     width: 16px;
//     height: 16px;
// }
$header_burger_height : 40px;
$header_burger_top: calc(($header-height - $header_burger_height)/2);

.header_burger {
    height: $header_burger_height;
    margin-top: $header_burger_top;
    margin-right: 10px;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;

    & img {
        height: calc($header-height - 5px);
    }
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

main {
    margin-bottom: $footer-height;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.form {
    background: whitesmoke;
}

.input-required {
    border-left-color: rgb(87, 87, 138) !important;
    border-left-width: 3px !important;
}

.input-readonly {
    background: $color4;

}

.triangle-code {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid red;
}


// ----------------------- General ------------------------
.container-SB {
    background: $color4;
    padding: 10px;
    padding-top: 0px;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.container-titre-SB {
    height: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    // font-weight: bold;
    font-size: xx-large;
}

.container-rubrique-SB {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: start;
    background: $border-color;
}

.mb-1-SB {
    margin-bottom: 0.25rem !important;
}

.mt-1-SB {
    margin-top: 0.25rem !important;
}

// .form-rubrique-titre-SB {
//     background: $color4;
//     border-width: 0px;
//     border-bottom-width: 1px;
//     border-color: $border-color;
//     border-style: solid;
//     border-color: $border-color;
//     height: 30px;
// }

.zone-titre-SB {
    display: flex;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: $border-color;
    border-bottom-style: solid;
    padding-top: 7px;
    background: $color4;


}

@media (min-width: 0px) {
    .zone-titre-SB {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .zone-titre-SB {
        flex-direction: row;
    }
}

.titre-SB {
    color: $color1;
    font-size: xx-large;
    font-weight: bold;

}

.menu_page-SB {
    flex: 0 0 auto;
    padding-top: 3px;
}

@media (min-width: 0px) {
    .titre-SB {
        width: 100%;
    }

    .menu_page-SB {
        width: 100%;

    }
}

@media (min-width: 768px) {
    .titre-SB {
        width: 50%;
    }

    .menu_page-SB {
        width: 50%;

    }
}

.container-main-SB {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.wm-700-SB {
    max-width: 400px;
}

.wm-900-SB {
    max-width: 900px;
}

.wm-1000-SB {
    max-width: 1000px;
}

.margin-center-SB {
    margin-left: auto;
    margin-right: auto;
}

.form-zone-btn-SB {
    margin-top: 10px;
    margin-bottom: 10px;
}




.display-inline-grid {
    display: inline-grid;
}

.border-0 {
    border: none;
}

.width-auto {
    width: auto;
    display: inline-block;
}

#accordionMain {
    // background: red;
}

// -------------------- classes spécifiques

.zm-header {
    display: flex;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color: $border-color;
    border-bottom-style: solid;
    padding-top: 7px;
    background: $zmheader-backgroundcolor;
}

@media (min-width: 0px) {
    .zm-header {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .zm-header {
        flex-direction: row;
    }
}

.zmh-titre {
    color: $color1;
    font-size: xx-large;
    // font-weight: bold;
}

@media (min-width: 0px) {
    .zmh-titre {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .zmh-titre {
        width: 50%;
    }
}

.zmh-menus {
    flex: 0 0 auto;
    padding-top: 3px;
}

@media (min-width: 0px) {
    .zmh-menus {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .zmh-menus {
        width: 50%;
    }
}

.zm-content {
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}



.m-rl-auto {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 0px) {

    // Police - taille
    .x-fs-2 {
        font-size: 2rem;
    }

    // Margin
    .x-mt-3 {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) {

    // Police - taille
    .x-fs-2 {
        font-size: calc(1.325rem + 0.9vw);
    }

    .x-mt-3 {
        margin-top: 1rem;
    }
}


//===================== BOOTSTRAP-TABLE

.th-inner {
    // entete de colonne
    background: #e3f1fb !important;
}

.bootstrap-table tr:nth-child(even) {
    background: white;
}

.bootstrap-table tr:nth-child(odd) {
    background: rgb(227, 233, 242);
}