// -- valeurs par défaut

// -------------------- panel
// général
$panel-color: DarkSlateGray !default;
$panel-background: white !default;
$panel-border-color : gray !default;
$panel-border-radius: 10px !default;

// header
$panel-header-backgroundcolor: Silver !default;
$panel-header-color: DarkSlateGray !default;

//  rubrique
$panel-rubrique-backgroundcolor: Beige !default;
$panel-rubrique-color: DarkSlateGray !default;

// content
$panel-content-backgroundcolor: white;
$panel-content-color: DarkSlateGray !default;

// footer
$panel-footer-backgroundcolor: $panel-content-backgroundcolor !default;
$panel-footer-color: $panel-content-color !default;

// -- fin valeurs par défaut



.panel-group {
	display: flex;
	justify-content: space-evenly;

	@include media-max("md") {
		display: block;
	}
}

%panel-base {
	background: $panel-background;
	border-color: $panel-border-color;
	color: $panel-color;
	// border: 1px solid lightgrey;
	// border-radius: $panel-border-radius;
	vertical-align: top;

	&>div:last-child {
		// border-style: solid;
		// border-color: $border-color;
		// border-bottom-left-radius: $panel-border-radius;
		// border-bottom-right-radius: $panel-border-radius;
	}

	&>div:first-child {
		// border-style: solid;
		// border-color: $border-color;
		// border-top-left-radius: $panel-border-radius;
		// border-top-right-radius: $panel-border-radius;
	}

	@include media-max("md") {
		width: 100%;
	}
}

// .panel::before,
// .panel::after {
// 	z-index: -1;
// 	position: absolute;
// 	content: "";
// 	bottom: 15px;
// 	left: 10px;
// 	width: 50%;
// 	top: 80%;
// 	max-width: 300px;
// 	background: rgba(0, 0, 0, 0.7);
// 	-webkit-box-shadow: 0 15px 10px rgb(0 0 0 / 70%);
// 	box-shadow: 0 15px 10px rgb(0 0 0 / 70%);
// 	-webkit-transform: rotate(-3deg);
// 	transform: rotate(-3deg);
// }
// .panel::after {
// 	-webkit-transform: rotate(3deg);
// 	transform: rotate(3deg);
// 	right: 10px;
// 	left: auto;
// }

.panel {
	@extend %panel-base;

	& .row {
		margin-top: 0.4rem;
		--bs-gutter-x: 0;
	}
}

.panel-header {
	background: $panel-header-backgroundcolor;
	color: $panel-header-color;
	text-align: center;
	height: 50px;
	margin-top: 0px;
	// margin-bottom: 10px;
	font-size: xx-large;
	// border-top-left-radius: $panel-border-radius;
	// border-top-right-radius: $panel-border-radius;
}


.panel-rubrique {
	height: 30px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: $panel-rubrique-color;
	text-align: start;
	background: $panel-rubrique-backgroundcolor;
	// border-style: solid;
	// border-color: $border-color;
	// border-left-width: 0;
	// border-right-width: 0;
	// border-top-width: 1px;
	// border-bottom-width: 1px;
}

.panel-content {
	padding-left: 10px;
	padding-right: 10px;
	text-align: start;
	background: $panel-content-backgroundcolor;
	color: $panel-content-color;
	// border-style: solid;
	// border-color: $border-color;
	// border-left-width: 0;
	// border-right-width: 0;
	// border-top-width: 1px;
	// border-bottom-width: 1px;
}

.panel-footer {
	padding: 10px;
	text-align: center;
	background: $panel-footer-backgroundcolor;
	color: $panel-footer-color;
}